@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  /* font-family: "Raleway", sans-serif; */
   font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto
  /* border: 1px solid blanchedalmond; */
}
.rale {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto
}

html{
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
  width: 100%;

  
  
}
#Services {
  /* scroll-snap-type: y mandatory; */
  /* background-color: brown; */
}

#app {
  /* background-image: url(/bg.png); */
  /* height: 100vh; */
  /* color: ; */
  /* height: max-content; */
  
}
.bord {
  border: 1px solid saddlebrown;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  /* border: 1px solid blanchedalmond; */
  /* margin-bottom: 20vh; */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* min-height: 100vh; */
  scroll-snap-align: center;
  /* margin-top: 80px; */
  margin-bottom: 40px;
}

.scrollbar-hide {
  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Required to re-enable scrolling, as overflow hidden removes scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}


@keyframes vibrate {
  0% { transform: translate(0); }
  20% { transform: translate(-1.5px, 1.5px); }
  40% { transform: translate(1.5px, -1.5px); }
  60% { transform: translate(-1.5px, -1.5px); }
  80% { transform: translate(1.5px, 1.5px); }
  100% { transform: translate(0); }
}

.contact-element:hover {
  animation: vibrate 0.2s linear ;
}


@media screen and (max-width:480px) {
  section {
    min-height: 75vh;
     scroll-snap-align: center;
  /* margin-top: 40px; */
  margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .image-slider {
    scroll-snap-type: x mandatory;
    /* width: 100vw; */

    }
  .image-slider img {
    /* width: 100%;
    height: auto; */
    scroll-snap-align: center;
  }
}
/* 
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */



